.tech {
    /* background: url('../../public/images/image-from-rawpixel-id-2282627-original.png'); */
    height: 100vh;
    /* background-color: red; */
    display: flex;
    position: relative;
    z-index: 0;
}

.tech-cont {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.tech-header {
    font-size: 13rem;
    font-family: 'Cosi Azure Bold', serif;
    font-weight: 700;
    color: rgba(123, 0, 150, 0.5);
    position: absolute;
    top: 0px;
    z-index: -1 !important;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tech-text {
    font-size: 4rem;
    font-family: 'Circular Std Bold', sans-serif;
    font-weight: 600;
    color: white;
}

.tech-subtext {
    font-size: 1.75rem;
    font-family: 'Circular Std Bold', sans-serif;
    color: white;
}

/* .tech-img {
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
} */

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@media only screen and (max-width: 786px)
{
    .tech-header {
        font-size: 5rem;
    }

    .tech-text {
        font-size: 2rem;
    }

    .tech-subtext {
        font-size: 1.25rem;
    }

    .tech {
        height: 125vh;
    }
}