.tech {
    background: url('../../public/images/image-from-rawpixel-id-2282627-original.png');
    background-size: 100% 100%;
}

.tech-header {
    font-size: 4rem;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: #41cdff;
}

.tech-box {
    border: 2px solid #41cdff;
    border-radius: 2rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
}

.tech-domain {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.tech-img {
}