.navbar {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* background-color: red; */
    font-family: 'Cosi Azure Bold', serif;
    z-index: 999999;
}

.navbar-text {
    color: #fffffe;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin: 0 2rem;
}

.navbar-items {
    display: flex;
}

.navbar-items-text {
    display: flex;
    color: #fffffe;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.navbar-items-text:hover {
    color: #7b0096;
    transition: 0.5s ease;
}

@media only screen and (max-width: 786px)
{
    .navbar-items {
        display: none;
    }
}