@import url('https://fonts.googleapis.com/css2?family=Circular Std Bold:wght@100;200;300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

.experience {
    height: 100vh;
    /* background-color: red; */
    position: relative;
    display: flex;
    z-index: 0;
}

.expImgContainer {
    width: 65px;
    /* height: 75px; */
    margin: 0 10px 0 0;
}

.exp-header {
    font-size: 13rem;
    font-family: 'Cosi Azure Bold', serif;
    font-weight: 700;
    color: rgba(123, 0, 150, 0.5);
    position: absolute;
    top: 0px;
    right: 0;
    z-index: -1;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.exp-cont {
    display: flex !important;
}

.exp-main-text {
    font-size: 4.25rem;
    font-family: 'Circular Std Bold', sans-serif;
    font-weight: 600;
    color: white;
    z-index: 111 !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
}

.tooltip-content {
    font-family: 'Circular Std Bold', sans-serif !important;
}

.tool-header {
    font-size: 2rem !important;
    font-family: 'Circular Std Bold', sans-serif;

}
@media only screen and (max-width: 786px)
{
    .exp-header {
        font-size: 5rem;
    }

    .exp-main-text {
        font-size: 1.75rem;
    }

    .experience {
        height: 75vh;
    }

    .expImgContainer {
        width: 25px;
        /* height: 25px; */
    }
}