.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.landing-h1 {
    color: #fffffe;
    font-size: 7rem;
    font-family: 'Cosi Azure Bold', serif;
    font-weight: 600;
    display: flex;
    line-height: 8rem;
}

.landing-h3 {
    color: #fffffe;
    font-size: 3rem;
    font-family: 'Cosi Azure Bold', serif;
    font-weight: 400;
    display: flex;
    /* line-height: 8rem; */
}

.landing-img {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    z-index: 9999;
}

@media only screen and (max-width: 786px)
{
    .landing-h1 {
        font-size: 3rem;
        line-height: unset;
    }

    .landing-h3{
        font-size: 2rem;
    }
}
