@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-text.min.css");
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://db.onlinewebfonts.com/c/1094504ae47cb9cfa800bc04261c211a?family=Geomanist');
@import url('https://db.onlinewebfonts.com/c/067cc4a05526cc8001ffbe6a576eace4?family=Cosi+Azure+Black+Stencil');
@import url('https://db.onlinewebfonts.com/c/61486c71563f7840de6d1c7e0a2ed07e?family=Cosi+Azure+Bold');
@import url('https://db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold');

@font-face {font-family: "Cosi Azure Bold"; src: url("https://db.onlinewebfonts.com/t/61486c71563f7840de6d1c7e0a2ed07e.eot"); src: url("https://db.onlinewebfonts.com/t/61486c71563f7840de6d1c7e0a2ed07e.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/61486c71563f7840de6d1c7e0a2ed07e.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/61486c71563f7840de6d1c7e0a2ed07e.woff") format("woff"), url("https://db.onlinewebfonts.com/t/61486c71563f7840de6d1c7e0a2ed07e.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/61486c71563f7840de6d1c7e0a2ed07e.svg#Cosi Azure Bold") format("svg"); } 
@font-face {font-family: "Circular Std Bold"; src: url("https://db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.eot"); src: url("https://db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.woff") format("woff"), url("https://db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.svg#Circular Std Bold") format("svg"); } 

.body {
    background-color: #000000;
}

::selection {
    color: black;
    background: white;
}